<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <add key="FairfaxNuget" value="https://pkgs.dev.azure.com/trinca-fairfax/76ca93e1-a84a-4eeb-87cd-7e85a906324a/_packaging/FairfaxNuget/nuget/v3/index.json" />
  </disabledPackageSources>
</configuration>